.CodeEditor {
    width: 95vw;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    resize: none;
    scrollbar-color: #2a2a2a transparent;
}